*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('../backgrounds4u/lap.jpg');
    background-size: cover;
   
    
}

.login form{
    padding-bottom: 0px;
    padding-top: 0px;
    color:black;
    margin-top: 100px;
    margin-left: 31%;
    margin-right: 250px;
    width: 500px;
    height: 500px;
    color: lavender;  
 
}
#accounthelp{
    color: white;
}
.register{
    color: white;
    text-decoration: none;   
}
.signedout{
    width: 30%;
    margin-top: 40px;
    margin-left: 35%;
    color: burlywood;
}
.head3{
    text-align: center;
    color: white;
    margin-top: 15px;

}