*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('../backgrounds4u/lap.jpg');
    background-size: cover;
   
    
}

.login form{
    padding-bottom: 0px;
    padding-top: 0px;
    color:black;
    margin-top: 100px;
    margin-left: 31%;
    margin-right: 250px;
    width: 500px;
    height: 500px;
    color: lavender;  
 
}
#accounthelp{
    color: white;
}
.register{
    color: white;
    text-decoration: none;   
}
.signedout{
    width: 30%;
    margin-top: 40px;
    margin-left: 35%;
    color: white;
}
.head3{
    text-align: center;
    color: white;
    margin-top: 15px;

}

.end{
    margin-top: 20%;
}
.signup{

    color: white;
    width: 880px;
    height: 900px;
    margin-left: 40%;
    margin-top: 8%; 
    
}
#submit{
    background-color: rgb(211, 82, 82);
    border: 2px solid rgb(173, 97, 97);
    border-radius: 4px;
    transition-duration: 2s;
    
}
#submit :hover{
    background-color:rgb(228, 0, 0);
    color: white;
}



